{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <span id = demo> Hey! </span>
{% endblock %}

{% block content %}

    <button type="button" onclick='document.getElementById("demo").innerHTML = "Hello JavaScript!"'>Click Me!</button>

{# Task 1: create a button that reverses the action of the button above #}

    <p id="demo2">JavaScript can change the style of an HTML element.</p>

    <button type="button" onclick='document.getElementById("demo2").style.fontSize ="35px"'>Click Me!</button>
    <button type="button" onclick='document.getElementById("demo2").style.fontSize ="16px"'>Click Me!</button>

{# Task 2: create a button that changes the colour of the text #}
{#  TIP 1: Google it! #}
{#  TIP 2: Once you have set a colour, PyCharm will help you with the rest of the colour codes. #}
{# ### Just click the coloured box on the left of the code line and choose the colour you want. #}


    <p><img id=pic src="{% static "welcome/EUI.png" %}" style="width:4cm;height:3cm;"/></p>
    <button type="button" onclick='document.getElementById("pic").style.visibility ="hidden"'>Hide</button>

{# Task 3: create a button that brings the image back #}


    <p>Number of clicks: <span id="counts">  </span></p>

    <button type="button" id='counter'>Count clicks</button>
{# Task 4: Change the button "Count clicks" into a random integer generator #}
{# The counter button triggers some bigger functions down below in the script part. #}
{# TIP: Don't know how to generate random numbers or integers? Google it! #}
{# Notice that there is a different code for generating random numbers and generating random integers#}

{% endblock %}

{% block scripts %}

    <script>
    $(function () {
        var $btn_answer = $("button#counter");
        var count = 0;
{# This following function is triggered when the page is downloaded and ready #}
        $(document).ready(function(){
            document.getElementById('counts').innerHTML = count;
        });

{# When the click of a button leads to multiple consequences, it is better to do a separate function. #}
{# The function below is triggered when the counter button is clicked #}
        $btn_answer.on("click", function () {
            count = count + 1;
            document.getElementById('counts').innerHTML = count;
            {#  You can see the console log on your browser when you 'inspect' the code. Great tool for debugging! #}
            console.log("count " + count)
        });
    })
    </script>

{% endblock %}